@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 10, 20;
  --background-end-rgb: 5, 10, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #050A14; /* Fondo oscuro base */
}
